/*-------------------------------------------------------------------------------------------*/
/* PCF Form */
/*-------------------------------------------------------------------------------------------*/
.wc_email_inquiry_hyperlink_text {
	text-decoration:underline;
	cursor:pointer;	
}
.wc_email_inquiry_form{
	width:500px;	
}
.wc_email_inquiry_form_inner {
	clear:both;	
	margin-bottom:10px;
}
#cboxContent .wc_email_inquiry_form {
	padding:10px;	
}
h1.wc_email_inquiry_result_heading {
	font-size:20px;
	margin:0 0 10px !important;
	color: red;
}
body .wc_email_inquiry_form_button, .wc_email_inquiry_form_button {
	float:right !important;
	margin-right:2% !important;
}
.wc_email_inquiry_field input, .wc_email_inquiry_field textarea{
	border:1px solid #CCC !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	-moz-box-shadow: 0px 0px 0px #FFF !important; /* Firefox */
	-webkit-box-shadow: 0px 0px 0px #FFF !important;
	box-shadow: 0px 0px 0px #FFF !important; 
	width:66% !important;
	font-size:13px !important;
	padding:5px;
}
.wc_email_inquiry_field .your_message {
	height:65px;	
}
.wc_email_inquiry_field{
	margin-bottom:10px;
	clear:both;		
}
.wc_email_inquiry_required{
	color:red;	
}
.wc_email_inquiry_label{
	width:30%;
	float:left;
	cursor:pointer;
}
.wc_email_inquiry_send_copy {
	cursor:pointer;	
	float:left;
}
.wc_email_inquiry_send_copy input {
	width:auto !important;	
	margin:0 !important;
}
.wc_email_inquiry_loading {
	float:right;
	display:none;
	margin-right:5px;
}
.wc_email_inquiry_button_container { 
	display:inline-block;
}

/* 3RD shortcode page */
.wc_3rd_inquiry_form_container {
	margin-top:10px;	
}
.wc_email_inquiry_custom_form_container {
	position:relative;	
}
.wc_email_inquiry_image_container {
	text-align:center;	
}
.wc_email_inquiry_form_container {
	display:block;	
}

/* Default Contact Form Inner Page */
.wc_defaul_inquiry_form_inner_container {
	margin-top:10px;
}