/*-------------------------------------------------------------------------------------------*/
/* Buttons */
/*-------------------------------------------------------------------------------------------*/
a.wc_email_inquiry_button_button {
	cursor:pointer;
	display: inline-block !important;
	line-height: 1 !important;
	padding: 6px 13px !important;
	/*margin:0 .6em 1.5em 0;*/
	border: 1px solid #af4040;
	color: white !important;
	text-align: center !important;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-decoration: none !important;
	
	/*Border radius*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	/*Background*/
	background-color: #d72323; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #e85252),
					color-stop(1, #cf2e2e)
				);
	background: -moz-linear-gradient(
					center top,
					#e85252 20%,
					#cf2e2e 100%
				);
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
						inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
						0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
					0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
				0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
}

a.wc_email_inquiry_button_button:hover, 
a.wc_email_inquiry_button_button.hover, 
a.wc_email_inquiry_button_button.active {
	text-decoration: none !important;
	/*Background*/
	background: #d20000; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #e53e3e),
					color-stop(1, #ca1616)
				);
	background: -moz-linear-gradient(
					center top,
					#e53e3e 20%,
					#ca1616 100%
				);
}

a.wc_email_inquiry_button_button:active,
a.wc_email_inquiry_button_button.active  {
	border-color: #af4040;
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
				0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
}

a.wc_email_inquiry_button_button.custom:hover { opacity:0.85; }

a.wc_email_inquiry_button_button span { line-height:1 !important; min-height: 16px !important; }

/*-------------------------------------------------------------------------------------------*/
/* PCF Form */
/*-------------------------------------------------------------------------------------------*/
.wc_email_inquiry_hyperlink_text {
	text-decoration:underline;
	cursor:pointer;	
}
.wc_email_inquiry_form{
	width:500px;	
}
#cboxContent .wc_email_inquiry_form {
	padding:10px;	
}
h1.wc_email_inquiry_result_heading {
	font-size:20px;
	margin-bottom:10px;
	color: red;
}
body .wc_email_inquiry_form_button, .wc_email_inquiry_form_button {
	float:right !important;
	margin-right:2% !important;
}
.wc_email_inquiry_field input, .wc_email_inquiry_field textarea{
	border:1px solid #CCC !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	-moz-box-shadow: 0px 0px 0px #FFF !important; /* Firefox */
	-webkit-box-shadow: 0px 0px 0px #FFF !important;
	box-shadow: 0px 0px 0px #FFF !important; 
	width:66% !important;
	font-size:13px !important;
	padding:5px;
}
.wc_email_inquiry_field .your_message {
	height:65px;	
}
.wc_email_inquiry_field{
	margin-bottom:10px;				
}
.wc_email_inquiry_required{
	color:red;	
}
.wc_email_inquiry_label{
	width:30%;
	float:left;
	cursor:pointer;
}
.wc_email_inquiry_send_copy {
	cursor:pointer;	
	float:left;
}
.wc_email_inquiry_send_copy input {
	width:auto !important;	
	margin:0 !important;
}
.wc_email_inquiry_loading {
	float:right;
	display:none;
	margin-right:5px;
}
.wc_email_inquiry_button_container { 
	display:inline-block;
}